* {
	font-family: sans-serif;
}

*[for="Demo"] {		background-color: 	#BFF;}
*[for="Home"] {		background-color: 	#FFB;}
*[for="Doc"] {		background-color: 	#FBF;}
*[for="Links"] {		background-color: 	#DDF;}

.ui-body > a {
	line-height: 100%;
	text-align: center;
	border-radius: 50%;
}

body {
	background-color: #666;
}
h1 {
	text-align: center;
}
h1 > *, h2 > *, h3 > *, h4 > *, h5 > *, h6 > * {
	color: inherit;
	text-decoration: inherit;
	display: inline;
}

label {
	padding: .5em 1em;
	font-size: inherit;
}
label h1,
label h2 {
	font-size: 200%;
}
label h3,
label h4 {
	font-size: 150%;
}
label h5,
label h6 {
	font-size: 100%;
}

label h1,
label h2,
label h3,
label h4,
label h5,
label h6,
label p {
	font-size: inherit;
	text-indent: 1em;
}

label p {
	padding-left: 1em;
	padding-right: 1em;
}

.hovering {
    position: absolute;
    z-index: 512;
}
.centered {
	margin-left: 50%;
    transform: translate(-50%, 0px);
}

.middleOfPage {
    position: absolute;
    z-index: 512;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

