* {
	font-family: sans-serif;
}

*[for="Demo"] {		background-color: 	#BFF;}
*[for="Home"] {		background-color: 	#FFB;}
*[for="Doc"] {		background-color: 	#FBF;}
*[for="Links"] {		background-color: 	#DDF;}

.ui-body > a {
	line-height: 100%;
	text-align: center;
	border-radius: 50%;
}

body {
	background-color: #666;
}
h1 {
	text-align: center;
}
h1 > *, h2 > *, h3 > *, h4 > *, h5 > *, h6 > * {
	color: inherit;
	text-decoration: inherit;
	display: inline;
}

label {
	padding: .5em 1em;
	font-size: inherit;
}
label h1,
label h2 {
	font-size: 200%;
}
label h3,
label h4 {
	font-size: 150%;
}
label h5,
label h6 {
	font-size: 100%;
}

label h1,
label h2,
label h3,
label h4,
label h5,
label h6,
label p {
	font-size: inherit;
	text-indent: 1em;
}

label p {
	padding-left: 1em;
	padding-right: 1em;
}

.hovering {
    position: absolute;
    z-index: 512;
}
.centered {
	margin-left: 50%;
    transform: translate(-50%, 0px);
}

.middleOfPage {
    position: absolute;
    z-index: 512;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

body > h1.hovering.centered ~ .ui-box[data-box-style="cover"] > .ui-body > label {
	padding-top: 4em;
}
*[for='top_left'],
a[href='#top_left'] {		background-color: hsla( 305, 45%, 60%, 1 );}
*[for='top'],
a[href='#top'] {			background-color: hsla( 350, 45%, 60%, 1 );}
*[for='top_right'],
a[href='#top_right'] {		background-color: hsla(  35, 45%, 60%, 1 );}
*[for='right'],
a[href='#right'] {			background-color: hsla(  80, 45%, 60%, 1 );}
*[for='bottom_right'],
a[href='#bottom_right'] {	background-color: hsla( 125, 45%, 60%, 1 );}
*[for='bottom'],
a[href='#bottom'] {			background-color: hsla( 170, 45%, 60%, 1 );}
*[for='bottom_left'],
a[href='#bottom_left'] {	background-color: hsla( 215, 45%, 60%, 1 );}
*[for='left'],
a[href='#left'] {			background-color: hsla( 260, 45%, 60%, 1 );}
.ui-body > label > *:only-child {
	margin-top: 50%;
	transform: translate( -50%, -50%);
	position: absolute;
}
